<div class="container" style="margin-top:150px;">
    <img class="img-responsive" img-center style="width: 310px; margin:auto;" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Bookshelf-40x20_blue.svg/1280px-Bookshelf-40x20_blue.svg.png">
    <h1 style="text-align:center;">Welcome To Yopeso <a href="http://0.0.0.0:3000/books">BookShelf</a></h1>
</div>
